
/*Common variables*/

:root{ 
    --view-bg-color: rgba(120, 120, 235, 0.5);
    --extension-height: 350px;
    --extension-width: 600px;
    --placeholder-border: 1px solid;
    --custom-font-title: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*General styles*/

.vocab-button{
    background-color: rgba(32, 21, 3, 0.767);
    color:rgb(228, 233, 236);
    border-radius: 10%;
    box-shadow: 0 0 2px rgba(32, 21, 3, 0.555);
}

.vocab-button:hover{
    background-color: rgba(32, 21, 3, 0.692);
}

.vocab-title{
    font-family: var(--custom-font-title);
}

/*Scrollbar styling*/

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(32, 21, 3, 0.767);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(32, 21, 3, 0.959)
}

/*extension wrapper styling*/

.extension-wrapper{
    height: var(--extension-height);
    width: var(--extension-width);
    border: solid 2px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--view-bg-color);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.733);
}


/*header styling*/

.header-wrapper{
    display: flex;
    justify-content: space-around;
    height:60px;
    border: var(--placeholder-border);
    font-family: var(--custom-font-title);
}

.header-wrapper .logo-wrapper{
    flex: 20%;
    border: var(--placeholder-border);
}

.logo-wrapper-inner{
    border: var(--placeholder-border);
    height: 100%;
    width: 70%;
    margin: auto
}

.header-wrapper .title-wrapper{
    flex: 60%;
    border: var(--placeholder-border);
    
}

.title-wrapper-inner{
    text-align: center;
    height: 100%;
    width: 100%;
}

h2.title {
    font: var(--custom-font-title);
    font-size: 20px;
}

.header-wrapper .options-wrapper{
    flex:10%;
    border: var(--placeholder-border)
}

/*content wrapper styling (placeholder)*/

.extension-wrapper .content-wrapper{
    border: var(--placeholder-border);
    margin-top: 10px;
    height: 280px 
}

/*Default wrapper styling*/

.default-view-wrapper{
    border: var(--placeholder-border);
    margin:0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-around; 
}

/*current projects space*/

.current-projects-wrapper{
    flex: 1;
    border-radius: 10px;
    border: var(--placeholder-border);
    display:flex;
    flex-direction: column;
}

.current-projects-title-wrapper{
    border: var(--placeholder-border);
    flex:1
}

.current-projects-title-wrapper > h3{
    margin:0;
    text-align: center;
}

.current-project-select-wrapper{
    border: var(--placeholder-border);
    display: flex;
    justify-content: space-around;
    flex:1;
}

.current-project-tagset-wrapper{
    border: var(--placeholder-border);
    flex: 3;
}

.current-project-button-wrapper{
    flex:1;
    border: var(--placeholder-border)
}

/*search - translate wrapper*/

.search-translate-wrapper{
    flex: 1;
    border: var(--placeholder-border);
    margin-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    width: 100%;
    
}

.search-wrapper{
    border: var(--placeholder-border);
    flex-basis: 5;
    height: 75%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.translate-wrapper{
    border: var(--placeholder-border);
    flex-basis: 1;
    height: 15%;
}

/*Search wrapper styling*/

.search-wrapper > div{
    border: var(--placeholder-border);
}

/*search wrapper title styling*/

.search-wrapper-title-wrapper{
    flex: 1;
}

.search-wrapper-title-wrapper h4{
    margin:0;
}

/*search wrapper options styling*/

.search-wrapper-options-wrapper{
    flex: 4;
}

.search-wrapper-options-wrapper ul{
    margin: 0;
    padding:0;
    list-style: none;
    border: var(--placeholder-border);
    display: flex;
    height:100%;
}

.search-options-list-wrapper > li{
    border: var(--placeholder-border);
    flex:1
}

.search-options-list-wrapper > li.search-by-tag-list-wrapper{
    border: var(--placeholder-border);
    flex:1;
}

.search-by-dropdown-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Search wrapper input styling*/
.search-wrapper-input-wrapper{
    flex: 2;
    display: flex;
}

.search-wrapper-input-wrapper > input{
    width: 95%;
    height: 45%;
    margin-left: 3px;
    margin-top: 10px;
}

/*search wrapper buttons styling*/

.search-wrapper-buttons-wrapper{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.search-wrapper-buttons-wrapper > button{
    width:20%;
    height:90%;
}

/*translate wrapper styling*/

.translate-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin:0;
}

.translate-input-wrapper{
    flex:2;
}

.translate-input-wrapper >input{
    width: 100%;
    margin: 0;
    
}

.translate-button-wrapper{
    margin:0;
    flex:1;
    position: relative;
    left:20px;
}

/*Translation pop up styling*/

.translation-view-wrapper{
    border: var(--placeholder-border);
    margin:0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-around;
}

.translation-view-title-wrapper{
    display:flex;
    border: var(--placeholder-border);
    height:10%;
}

.translation-input-output-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex:2.5;
    border: var(--placeholder-border);

}

.translation-input-output-wrapper-inner{
    border: var(--placeholder-border);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:70%;
    margin-top: 10px;
    margin-right: 5px;
}

.translation-input-output-wrapper textarea{
    resize: none;
}

.translation-popup-main-view-button-wrapper{
    border: var(--placeholder-border);
    height:10%;
    display:flex;
    justify-content: left;
}



.translation-parameters-wrapper{
    display: flex;
    flex:1;
    border: var(--placeholder-border);
    
}

.translation-parameters-list{
    display:flex;
    flex-direction: column;
    border: var(--placeholder-border);
    margin:0;
    width:100%;
    height:100%;
    padding:0;
}

.translation-parameters-list > li{
    border: var(--placeholder-border);
    margin: 0;
    list-style: none;
}

/*parameters styling*/



.translation-parameter-language-wrapper{
    display:flex;
    border: var(--placeholder-border);
    flex:1;
}

.translation-parameter-language-wrapper > div {
    border: var(--placeholder-border);
    display:flex;
}

.translation-parameter-language-set-wrapper{
    align-items: center;
}

.translation-parameter-project-wrapper{
    display:flex;
    border: var(--placeholder-border);
    flex:1;
}

.translation-parameter-project-wrapper > div {
    border: var(--placeholder-border);
    display:flex;
}

.translation-parameter-project-set-wrapper{
    align-items: center;
}


.translation-parameter-save-wrapper{
    display:flex;
    justify-content: center;
    flex:1;
}

.translation-parameter-save-button{
    height:50%;
    align-self: center;
    width:55%;
}
.translation-parameter-tags-wrapper{
    flex:2;
}

/*Search results styling*/

.result-view-wrapper{
    border: var(--placeholder-border);
    height:100%;
    width:100%;
    display: flex;
}

.result-view-content-wrapper{
    flex:2.5;
    border: var(--placeholder-border)
    ;
    height: 100%;
    display:flex;
    flex-direction: column;
    }

    .result-view-content-wrapper > div{
        border:var(--placeholder-border);
    
    }

    .result-table-wrapper{
        flex:4.5;
        max-height: 100%;
        max-width: 100%;
        overflow: auto;
    }

        .result-table{
            border: var(--placeholder-border);
            width: 100%;
            height:100%;
            border-collapse: collapse;
        }

        .result-table tbody{
            font-size: 12px;
        }

        .result-table-head tr td{
            border: var(--placeholder-border);
        }

        .result-table-content-row, .result-table-head-row{
            display:flex;
            width:100%;
        }

        .result-table-head-row > .result-table-head-fword, .result-table-content-row > .result-table-content-fword{
            flex:1;
         
        }

        .result-table-head-row > .result-table-head-tword, .result-table-content-row > .result-table-content-tword{
            flex:1;
        }

        .result-table-head-row > .result-table-head-project, .result-table-content-row > .result-table-content-project{
            flex:1;
        }

        .result-table-head-row > .result-table-head-url, .result-table-content-row > .result-table-content-url{
            flex:1;
        }

        .result-table-head-row > .result-table-head-tags, .result-table-content-row > .result-table-content-tags{
            flex:1;
        }
        

        .result-table-content-row td{
            border: var(--placeholder-border);

        } 

        .result-table-content-row td > div{
            height:50px;
            width:80px;
            margin:0;
            padding: 0;
            overflow: auto;
            word-wrap: break-word;
        }



    .result-export-wrapper{
        display: flex;
        justify-content: center;
    }
    .result-export-button-wrapper{
        margin-left:200px;
    }

    

.result-view-parameters-wrapper{
flex:1;
border:var(--placeholder-border);
height:100%;
}
    .result-parameters-list{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    height:100%;}

    .result-parameter-url-wrapper{
    flex:1;
    }
    .result-parameter-project-wrapper{
    flex:1;
    }

    .result-parameter-tags-wrapper{
    flex:2.5;
    }

    .result-parameter-buttons-wrapper{
    flex:1;
    }

    .result-parameters-list > li{
    border: var(--placeholder-border);
    }


/**/

/*Add project styling*/