main{
    display: "flex";
    flex-direction: column;
}

/* footer styles*/

.footer-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
}

.suggested-translations:hover{
    color: rgb(0, 100, 255);
    text-shadow: 1px 1px 1px;
}

.body-banner{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid;
    min-height: 50px;
    max-height: 100px;
    width: 75%;
}